.grid-container{
    position: absolute;
    left: 0px;
    top: 398px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    
}
.background1{
    padding: 10px;
}
.info{
    display: flex; 
    padding: 20px;
    font-size: medium;
    

}
.rectangle{
    background: white;
    width: 200px;
    height: 150px;
    margin: 5px;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px #114B5F;
    border-color: black ;
}

.btn{
    border-top: 1px solid #abbbcc;
    border-left: 1px solid #a7b6c7;
    border-bottom: 1px solid #a1afbf;
    border-right: 1px solid #a7b6c7;
    border-radius: 12px;
    width: 150px;
    height: 125px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 5 px;
   
}

.background{
    padding: 20px;
}
.info-link{
    margin-inline-start: 5px;
    row-gap: 100px;
    line-height: 30px;
}
.article-1{
    background-color: #114B5F;
    text-align: center;
}
.article-2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.slider-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10% auto; */
}

.slider {
    width: 1000px;
    display: flex;
    overflow-x: scroll;
}
.slider div{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.slider div .rectangle{
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.slider::-webkit-scrollbar{
    display: none;
}
.prev, .next{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.slider div .rectangle:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);

}
.address{
    background-color: #114B5F;
    width: auto;
}
.imgfooter{
    width: 100px;
    height: 100px;
    

}
h4{
    text-align: center;
}