body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background:#028090;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #3a3a3a 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

/* Styles for the main heading */
h1 {
    font-weight: bolder;
    color: #114B5F;
    font-family: sans-serif;
}

h2{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.charter {
    padding-bottom: 20px;
}

.charter table{
    background-color:#028090;
    color: white;
    border-collapse: collapse;
    /* remove default spacing of border */
}

.charter td{
    border:10px white solid;
    /* size of border */
    width: 50%;
    /* size of data table */
    padding: 5px 5px 5px 5px;
    height: 50px;
    text-align: center;
    /* center the text */
}

.section {
    background-color:#93BAAC;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.section button {
    background: #028090;
    color: #ffffff;
    padding: 20px;
    border: none;
    border-radius: 15px;
    /* smoothen the edge of container */
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: left;
    /* align the text to left */
}

.content {
    display: none;
    /* display nothing at first */
    padding: 10px;
    background: #93BAAC;
    border-radius: 5px;
    margin-top: 5px;
}

.content table {
    background-color: #028090;
    width: 100%;
    border-collapse: collapse;
    /* non default the settings of table border */
    color: white;
    /* font color and make the height more big so it's pleasing to eye */
    height:150px;
}

.content td{
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* align all data content to center */
    text-align: center;
}
