body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #009879;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #3a3a3a 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.nav {
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    padding: 0 20px;
}

/* Styles for the main heading */
h1 {
    font-weight: bolder;
    color: #114B5F;
    font-family: sans-serif;
}

.slider {
    position: relative;  
    /* Positions the slider relative to its normal position */
    max-width: 100%;     
    /* so that slider does not exceed 100% of its container's width */
    margin: 20px auto;   
    /* Centers the slider*/
    border-radius: 15px; 
    overflow: hidden;    
    /* Hides any overflow content beyond the slider's boundaries */
}
.sld {
    display: none;
    width: 100%;
    border-radius: 8px;
}

.sld.active {
    display: block;
}

.sld-nav {
    text-align: center;
    position: absolute; 
    /* so slider doesnt move */
    width: 100%;
    bottom: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* make all dots in one horizontal line */
}

.dot.active {
    background-color: #717171;
}

.btns {
    margin: 20px 0;
    text-align: center;
}

.btns button {
    background: #009879;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.btns button.active {
    background: #007d66;
}

.news {
    display: none;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #0000000f;
    margin-top: 10px;
}

.news.active {
    display: block;
}
