.intro{
    display: grid;
   grid-template-columns: auto auto;
   row-gap: 15px;
   column-gap: 15px;
}
.box{
    border-radius: 15px;
    width:900;
    height:350px;
    gap: 15px;
    background-color: #114B5F;
}
.img1{
    border-radius: 15px;
    width: 600px;
    height: 350px;
    gap: 15px;
    background-color: #114B5F;
}
.box2{
    border-radius: 15px;
    width:auto;
    height:300px;
    gap: 15px;
    background-color: #114B5F;
    
}
table, th, td{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-collapse: collapse;
    border: 1px solid black;
    border-color: grey;
    padding: 10px;
   
}
p{
    text-align: center;
}
h2{
    text-align: center;
    padding: 20px;
}
.box3{
    width: auto;
    height: 450px;
    background-color: #114B5F;
    border-radius: 15px;
}
