.intro{
    /* display: flex; 
    padding: 10px;
    row-gap: 50px;
    font-size: medium;
    justify-content: center; */
    display: grid;
    grid-template-areas: 
    'main main main  gap  right right'
    'info info info  info info info ';
    padding: 70px;
    grid-column-gap: 15px; 
    
}
.rectangle1{
    border-radius: 15px;
    width:500px;
    height:300px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    align-items: center;
    padding: 1px;
}
.rectangle2{
    border-radius: 15px;
    width:500px;
    height:200px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info1{
    background-color: white;
    width:500px;
    height:120px;

}
.rectangle3{
    border-radius: 15px;
    width:500px;
    height:250px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rectangle4{
    border-radius: 15px;
    width:1000px;
    height:250px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rectangle5{
    border-radius: 15px;
    width:1000px;
    height:150px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rectangle6{
    border-radius: 15px;
    width:1000px;
    height:200px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rectangle7{
    border-radius: 15px;
    width:1000px;
    height:250px;
    background-color: #114B5F;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info2{
    padding: 100px;
}
h2{
    color: white;
}
p{
    color: white;
}
li{
    color: white;
}
.p2{
    color: black;
}
table{
    justify-content: center;
}